[data-md-color-scheme="default"] {
    --md-primary-fg-color: #160A42;
    --font-family: Inter, sans-serif;
    --md-typeset-a-color: #4169c1;
}

[data-md-color-scheme="slate"] {
    --md-default-fg-color: hsla(var(--md-hue), 15%, 90%, 0.9);
    --md-default-fg-color--light: hsla(var(--md-hue), 15%, 90%, 1);
    --md-primary-fg-color: #160A42;
    --md-default-bg-color: rgb(15, 6, 40);
    --font-family: Inter, sans-serif;
}